run/
.idea/
.vs/
bin/
obj/
server/stump.server.worldserver/packages/*
server/stump.server.worldserver/bin/*
server/stump.server.worldserver/obj/*
server/Stump.Server.BaseServer/bin/*
server/Stump.Server.BaseServer/obj/*
server/Stump.Server.AuthServer/bin/*
server/Stump.Server.AuthServer/obj/*

server/stump.server.worldserver/packages/
server/stump.server.worldserver/bin/
server/stump.server.worldserver/obj/
server/Stump.Server.BaseServer/bin/
server/Stump.Server.BaseServer/obj/
server/Stump.Server.AuthServer/bin/
server/Stump.Server.AuthServer/obj/
*.zip
.fake